*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  position: relative;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, .3);
  margin: 2em;
}

.grid {
  display: grid;
  width: 500px;
  height: 500px;
  grid-template: repeat(12, 1fr)/repeat(12, 1fr);
}

.color {
  background: #333;
}

button {
  margin: 2em;
  border: none;
  background: #333;
  color: #fff;
  padding: 1em 2em;
  font-weight: bold;
}